<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link type = "text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 class = "tb-1">Weather App</h1>
    <div class = "weather-card">
        <form action="/search" method="post">
            <input class = "form ip" name = "cityname" type="text" placeholder="City Name" autocomplete="off">
            <button class = "form search-btn" name="submit">Search</button>
        </form>
        <img class = "icon" src= "http://openweathermap.org/img/w/02d.png">
    </div>
</body>
</html>